<h1>Edit Note</h1>

<p>

  <div class="btn-group" role="group" aria-label="...">
    
   <%= link_to 'View Index', notes_path, class: "btn btn-primary" %>
   
   <%=  link_to 'Cancel Edit', note_path(@note), class: "btn btn-warning" %>

  </div>
</p>

<%= form_for :note, url: note_path(@note), method: :patch do |f| %>
 
  <%= render 'shared/error_messages_note' %>
 
  <br>

  <p>
    <%= f.check_box :is_public %>
    <%= f.label "Make this note public" %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size=>"75" %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <!--<%= f.text_area :text, :cols=>"75", :rows=>"15"%>-->
    <%= f.cktext_area :text, :cols=>"75", :rows=>"15" %>
  </p>

  <p>
    <%= f.submit "Save Note", class: "btn btn-success" %>
  </p>
 
<% end %>
 
