<h1>My Notes</h1>

<!--TODO: check if user is logged in and if notes page you're trying to open is yours, if either of these -->

<p>

	<%= link_to('New Note', new_note_path, data: { no_turbolink: true }, class: "btn btn-primary") %>
	
</p>

<table>
	<!-- 
	<tr>
		<th>Title</th>
		<th>Text   </th>
	</tr>	
	-->
	
	<br>

	<% @notes.each do |note| %>
		<tr>
			<td style="padding:0 15px 0 0px;" >
				<%= if note.title.length < 30
						link_to note.title[0..30], note_path(note), class: "btn btn-default"
					else
						link_to note.title[0..30] + "..." , note_path(note), class: "btn btn-default"
					end %>

			</td>
			
			<td style="padding:0 15px 0 0px;">
				<%= if !note.text.nil?
						if strip_tags(simple_format(note.text)).length < 150
							strip_tags(simple_format(note.text[0..150]))
						else
							strip_tags(simple_format(note.text[0..150])) + " ..."
						end
					else
						note.text
					end	%>   
			</td>
			<td>
				<% if note.is_public? %>
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true" style = "padding-right: 20px; padding-top: 10 px"></span>
				<% else %>
					<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				<% end %>
			</td>				

			<td>
				<div class="btn-group" role="group" aria-label="...">
					<%= link_to 'Edit', edit_note_path(note), data: { no_turbolink: true }, class: "btn btn-info" %>
					<%= link_to 'Delete', note_path(note), method: :delete, data: {confirm: 'Are you sure you want to delete this note?'}, class: "btn btn-danger" %>
				</div>
			</td>

		</tr>

	<% end %>
</table>