<h1>New Note</h1>

<p>
  <%= link_to 'Cancel', notes_path, class: "btn btn-warning" %>
</p>

<%= form_for :note, url: notes_path do |f| %>
  
  <%= render 'shared/error_messages_note' %>

  <br>
  <p>
    <%= f.check_box :is_public %>
    <%= f.label "Make this note public" %>
  </p>

  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, :size=>"50" %>
  </p>
 
  <p>
    <%= f.label :text %>
    <br>
    <!--<%= f.text_area :text, :cols=>"75", :rows=>"15"%>-->
    <%= f.cktext_area :text, :cols=>"75", :rows=>"15" %>
  </p>

  <p>
    <%= f.submit "Save Note", class: "btn btn-success"%>
  </p>

<% end %>