
<br>
<br>

<!-- 
	Button formatting learned from following links
	http://stackoverflow.com/questions/9401942/using-link-to-with-embedded-html
	http://www.w3schools.com/bootstrap/bootstrap_buttons.asp
	http://getbootstrap.com/components/#btn-groups
-->

<% if logged_in? && current_user.id == @note.user_id %>  <!--check if current user's note, if not omit edit, delete, index functions -->
	<div class="btn-group" role="group" aria-label="...">
		
		<%= link_to 'View Index', notes_path, class: "btn btn-primary" %>

		<%= link_to 'Edit Note', edit_note_path(@note), data: { no_turbolink: true }, class: "btn btn-info" %>

		<%= link_to 'Delete Note', note_path(@note), method: :delete, 
						data: {confirm: 'Are you sure you want to delete this note?'}, class: "btn btn-danger" %>
	</div>
<% else %>
	<h3>Note by: <%= @note.user.name %></h3>
<% end %>

<br>

<% if @note.is_public? %>
	<strong>This note is public.</strong>
<% end %>

<br>


<h1><%= @note.title %></h1>
 
<p>
  <%= raw(@note.text) %>
</p>



