<h1>Search Public Notes</h1>

<%= form_for search_path, method: :get do |f| %>
	<p>
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
	</p>
<% end %>

<table>
	<% @notes.each do |note| %>
		<tr>
			<td style="padding:0 15px 0 0px;" >
				<%= if note.title.length < 30
						link_to note.title[0..30], note_path(note), class: "btn btn-default"
					else
						link_to note.title[0..30] + "..." , note_path(note), class: "btn btn-default"
					end %>

			</td>
			
			<td style="padding:0 15px 0 0px;">
				<%= if !note.text.nil?
						if note.text.length < 70
							note.text[0..70]
						else
							note.text[0..70] + " ..."
						end
					else
						note.text
					end	%>   
			</td>
		</tr>
	<% end %>	
</table>
