
<br>
<font color = "6BBA70"> <p id="notice"><%= flash[:success] %></p> </font>

<h1>
	<!--<%= gravatar_for @user %>-->
	Welcome, <%= @user.name %>!
</h1>

<p>
  <%= link_to 'Edit Account', edit_user_path() %>
</p>

<p> Name: <%= @user.name %></p>

<p> Email: <%= @user.email %></p>